.modal-dark .modal-content {
    background-color: #343a40 !important; /* Fondo oscuro */
    color: white !important; /* Texto blanco */
    border: none;
  }
  
  .modal-dark .form-control {
    background-color: #495057;
    color: white;
    border: 1px solid #6c757d;
  }
  
  .modal-dark .form-control::placeholder {
    color: #adb5bd;
  }
  
  .modal-dark .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .modal-dark .btn-secondary {
    background-color: #6c757d;
  }
  